* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
main,
footer {
  padding: 1rem 2.5rem;
}

header {
  background-color: #f53d2d;
}

footer {
  background-color: #eee;
  font-size: 1.5em;
  border-top: #f53d2d solid;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li {
  padding: 1.5rem;
  font-size: 1.5em;
  overflow-wrap: break-word;
  text-align: center;
  border-right: 1px solid hsla(0,0%,100%,.22);
}

.nav-links :last-child {
  border-right: none;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
}

main {
  min-width: 1200px;
  background: url(https://cf.shopee.vn/file/26ed6efhttps://cf.shopee.vn/file/26ed6ef74ac3bf222fb73b0f751a44bd) center top / 100% no-repeat;
  background-color: #e8e8e8;
}

.main-wrapper {
  margin: 0px 8% 4.375rem 8%;
  color: rgba(0, 0, 0, .8);
}

.title {
  padding: 15rem 2rem;
}

.text-align-center {
  text-align: center;
}

.form {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 65rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.form-group {
  height: 5rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 1rem;
}

.second-column {
  display: grid;
  grid-column: 2;
}

input {
  padding: 0.5rem;
  font-size: 1.1em;
}

label {
  justify-self: right;
  align-self: center;
  font-size: 1.2em;
  text-align: right;
}

button {
  background-color: #ee4d2d;
  color: white;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}

button:hover {
  opacity: 0.8;
}

.background-lightgreen {
  background-color: lightgreen;
}

.background-red {
  background-color: red;
}

h1 {
  color: #ee4d2d;
  margin-bottom: 6rem;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.total-price {
  font-size: 1.5em;
  text-decoration: solid;
  font-weight: 300;
}

.product-price {
  color: #ee4d2d;
  font-weight: 400;
}

.product-name {
  color: #d0011b;
}

.order-row {
  background-color: lightcyan;
  padding-left: 2px;
  margin: auto;
  border-width: 1px;
  border-style: solid;
}

.item-row {
  max-width: 80%;
  border: 1px solid transparent;
  border-radius: .5rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.1);
  background: #ffffff;
  margin-bottom: .625rem;
  margin-top: .625rem;
  padding: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}

.item-row:hover {
  box-shadow: 0 0.4rem 0.8rem rgba(0,0,0,0.3);
}

.selected-page {
  border-bottom: 3px #ffffff solid;
}

#products-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
}

#notifications-container {
  padding: 3rem auto 3rem auto;
}